/* div{
        border: solid ;
        border-radius: 50%;
        width: 3cm;
        height: 3cm; 
        background-color: linear-gradient();

} */

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container{
    max-width: 400px;
    height: 75vh;
    margin: 7rem auto;
    /* border: 1px solid #333; */
    position: relative;
}

.circle-1{
    background: linear-gradient(to bottom, blue, skyblue);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: -30px;

}

.circle-2{
    background: linear-gradient(to right, red, orange);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    bottom: -10px;
}

.form{
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    margin: 30px;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    padding: 1rem;
}



.h3{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 1.5rem 0rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label{
    color: white;
    font-weight: 600;
    margin-bottom: 0.3rem;
}  

.form-group input{
    padding: 0.5rem 1rem;
    border-style: none;
    background-color: #333;
    border-radius: 3px;
    color: whitesmoke;
}

.btn{
    margin-top: 0.8rem;
    background-color: white;
    border-style: none;
    border-radius: 3px;
    padding: .5rem 1rem;
    font-weight: 600;
    font-size: 18px;    
}

.social{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.social .btn-social{
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    font-weight: 700;
    font-size: 16   px;
    border: none;
    border-radius: 3px;
    padding: 0.6rem 2rem;
    
}
/* div{
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(255, 0, 0, 0.02) ;
    background-color: linear-gradient(to bottom, purple, magenta);
}

.main-container{
    margin: auto;
    position: relative;
}

form{
background-color: darkgrey;
height: 23rem;
width: 21rem;
margin: auto;
font-weight: bolder;
margin-top: 2rem;
position: absolute;
    left: 40%;
    

}


p{
color: white;


}


.Login{
    color: white;
    margin-left: 4rem;
    padding-top: 2rem;
}

.login{
background-color: white;
padding-left: 0.4rem;
height: 2rem;
width: 17rem;

}
input{
height: 2rem;
width: 17rem;
border-radius: 4px;
border: none;
margin-left: 1rem;
font-weight: bolder;
padding-left: 0.5rem;


}
label{
margin-left: 1rem;

}

.Google{
height: 2rem;
width: 8rem;
color: white;

} 
.Facebook{
width:8rem ;
color: white;

}

.Back-color{
background-color:rgb(197, 193, 193);

} */